{% extends 'base.html.twig' %}

{% block title %}Коэффициент качества выполненной работы{% endblock %}

{% block body %}
    <h1>Коэффициент качества выполненной работы</h1>
    <a href="{{ path('maintenance_personnel_index') }}">Назад</a>
    {%set count = 1%}
    <table class="table table-bordered">
        <thead>
            <tr>
                <td >№</td>
                <td >Коэффициент качества выполненной работы</td>
            </tr>
        </thead>
        <tbody>
    {% for quality_factor_work_performed in quality_factors_work_performed %}
            <tr>
                <td>{{ count }}</td>
                <td>{{ quality_factor_work_performed.qualityFactor }}</td>
                <td>
                    <form method="post" action="{{ path('quality_factor_work_performed_delete', {'id': quality_factor_work_performed.id}) }}" onsubmit="return confirm('Вы действительно хотите удалить этот элемент?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quality_factor_work_performed.id) }}">
                        <button class="btn">Удалить</button>
                    </form>
                </td>
            </tr>
            {%set count = count + 1%}
    {% endfor %}
    </tbody>
{% endblock %}
