{% extends 'base.html.twig' %}

{% block title %}WorkersSkillLevel index{% endblock %}

{% block body %}
    <h1>Квалификация обслуживающего пресонала</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Уроваень квалификации рабочих</th>
                <th>Коэффициенты обслуживающего пресонала</th>
            </tr>
        </thead>
        <tbody>
        {% for workers_skill_level in workers_skill_levels %}
            <tr>
                <td>{{ workers_skill_level.id }}</td>
                <td>
                    <a href="{{ path('workers_skill_level_edit', {'id': workers_skill_level.id}) }}">{{ workers_skill_level.workerSkillLevel }}</a>
                </td>
                <td>
                {% for WorkersQualificationCoefficients in workers_skill_level.getRelation() %}
					<a href="{{ path('workers_qualification_coefficients_edit', {'id': WorkersQualificationCoefficients.id}) }}">{{ workers_skill_level.workerSkillLevel }}->{{ WorkersQualificationCoefficients.workerQualificationCoefficients }}</a>
				{% endfor %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('workers_skill_level_new') }}">Create new</a>
{% endblock %}
