{% extends 'base.html.twig' %}

{% block title %} Матрица работ r-го обслуживающего персонала {% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.qualityfactor) }}
        {{ form_row(form.TypeOfEMAR) }}
        {{ form_row(form.submit) }}
    {{ form_end(form, {'render_rest': false}) }}
    

    <h1>Матрица работ {{ maintenance_Personnel.getId() }}-ого обслуживающего персонала</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Агрегат</td>
                <td>-2</td>
                <td>-1</td>
                <td>0</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>Количество выполненных работ</td>
                <td>Уровень квалификации</td>
            </tr>
        </thead>
        <tbody>
            {% for row in matrix %}
                <tr>
                    <td> {{row['aggregate']}} </td>
                    <td> {{row[-2]}} </td>
                    <td> {{row[-1]}} </td>
                    <td> {{row[0]}} </td>
                    <td> {{row[1]}} </td>
                    <td> {{row[2]}} </td>
                    <td> {{row[3]}} </td>
                    <td> {{row['count']}} </td>
                    <td> {{row['levelQual']}} </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Нет данных</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('maintenance_personnel_index') }}">Назад</a>

    {{ include('maintenance_personnel/_delete_form.html.twig') }}

    {{ form_start(form1) }}
        {{ form_widget(form1) }}
        <button class="btn btn-primary">{{ button_label|default('Посчитать') }}</button>
    {{ form_end(form1) }}
    
{% endblock %}
