{% extends 'base.html.twig' %}

{% block title %} Квалификация обслуживающего персонала {% endblock %}

{% block body %}
    
	<div class="row">
		<a href="{{ path('types_of_wto_index') }}">Первая таблица</a>
	</div>

    <h1>Квалификация обслуживающего персонала</h1>

    {#
    
    #}

    <table class="table table-bordered">
        <thead>
            <tr>
                <td rowspan="2">Номер группы</td>
                <td rowspan="2"><a href="{{ path('workers_qualification_coefficients_new') }}">Коэффициент квалификации группы</a></td>
                <td colspan="6">Коэффициент качества выполненной работы</td>
            </tr>
            <tr>
                <td>-2</td>
                <td>-1</td>
                <td>0</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
        </thead>
        <tbody>
        {% set counter = 0 %}
        {% for maintenance_personnel in maintenance_personnels %}
            <tr>
                <td rowspan={{count}}><a href="{{ path('maintenance_personnel_edit', {'id': maintenance_personnel.id}) }}">{{ maintenance_personnel.id }}</a></td>
                <td rowspan={{count}}>
                    {% for WQC in maintenance_personnel.getRelationWQC() %}
                    <p>
                    <a href="{{ path('workers_qualification_coefficients_edit', {'id': WQC.id}) }}">{{ WQC.getRelation() }} -> {{ WQC.qualificationCoefficient }}</a>
                    </p>
                    {% else %}
                        -
                    {% endfor %}
                </td>
                {% set counter_ = 0 %}
                {% for matrixGr in matrix[counter] %}
                    {% if (counter_ > 0) %}
                        <tr>
                            <td> <a href="{{ path('quality_factor_work_performed_show', {'id': maintenance_personnel.id, 'idr': matrixGr['typeOfWTO'].getId}) }}"> {{matrixGr['typeOfWTO']}} -> {{matrixGr[-2]}} </a> </td>
                            <td> {{matrixGr[-1]}} </td>
                            <td> {{matrixGr[0]}} </td>
                            <td> {{matrixGr[1]}} </td>
                            <td> {{matrixGr[2]}} </td>
                            <td> {{matrixGr[3]}} </td>
                        </tr>
                    {% else %}
                        <td> <a href="{{ path('quality_factor_work_performed_show', {'id': maintenance_personnel.id, 'idr': matrixGr['typeOfWTO'].getId}) }}"> {{matrixGr['typeOfWTO']}} -> {{matrixGr[-2]}} </a> </td>
                        <td> {{matrixGr[-1]}} </td>
                        <td> {{matrixGr[0]}} </td>
                        <td> {{matrixGr[1]}} </td>
                        <td> {{matrixGr[2]}} </td>
                        <td> {{matrixGr[3]}} </td>
                        {% set counter_ = 1 %}
                    {% endif %}
                {% endfor %}
            </tr>
            {% set counter = counter + 1 %}
        {% else %}
            <tr>
                <td colspan="9">Нет данных</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ include('maintenance_personnel/_form.html.twig') }}
    <p> Матрица качества выполнения видов работ для каждого агрегата</p>


    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Агрегат</td>
                <td>-2</td>
                <td>-1</td>
                <td>0</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>Количество выполненных работ</td>
            </tr>
        </thead>
        <tbody>
            {% for row in matrix1 %}
                <tr>
                    <td> {{row['aggregate']}} </td>
                    <td> {{row[-2]}} </td>
                    <td> {{row[-1]}} </td>
                    <td> {{row[0]}} </td>
                    <td> {{row[1]}} </td>
                    <td> {{row[2]}} </td>
                    <td> {{row[3]}} </td>
                    <td> {{row['count']}} </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Нет данных</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    

    
{% endblock %}
