{% extends 'base.html.twig' %}

{% block title %}WorkersQualificationCoefficients index{% endblock %}

{% block body %}
    <h1>WorkersQualificationCoefficients index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>WorkerQualificationCoefficients</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for workers_qualification_coefficient in workers_qualification_coefficients %}
            <tr>
                <td>{{ workers_qualification_coefficient.id }}</td>
                <td>{{ workers_qualification_coefficient.workerQualificationCoefficients }}</td>
                <td>
                    <a href="{{ path('workers_qualification_coefficients_show', {'id': workers_qualification_coefficient.id}) }}">show</a>
                    <a href="{{ path('workers_qualification_coefficients_edit', {'id': workers_qualification_coefficient.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('workers_qualification_coefficients_new') }}">Create new</a>
{% endblock %}
