{% extends 'base.html.twig' %}

{% block title %}ВТО{% endblock %}

{% block body %}

	<div class="row">
		<a href="{{ path('maintenance_personnel_index') }}">Вторая таблица</a>
	</div>
	
	<h1>Высокотехнологическое оборудование</h1>

	<table class="table table-bordered" >
		<thead>
			<tr>
				<th>№</th>
				<th><a href="{{ path('types_of_wto_new') }}">Тип ВТО</a></th>
				<th><a href="{{ path('aggregates_wto_new') }}">Аггрегаты ВТО</a></th>
				<th><a href="{{ path('types_of_emar_new') }}">Виды ТО и РО</a></th>
				<th><a href="{{ path('work_complexity_factors_new') }}">Коэффициенты сложности работ</a></th>
			</tr>
		</thead>
		<tbody>
			{% for types_of_wto in types_of_wtos %}
				<tr>
					<td>{{ types_of_wto.id }}</td>
					<td><a href="{{ path('types_of_wto_edit', {'id': types_of_wto.id}) }}">{{ types_of_wto.typeWTO }}</a></td>
					<td>
						{% for AggregatesWTO in types_of_wto.getRelation() %}
							<p>
							<a href="{{ path('aggregates_wto_edit', {'id': AggregatesWTO.id}) }}">{{ AggregatesWTO.aggregateWTO }}</a>
							</p>
						{% endfor %}
					</td>
					<td>
						{% for AggregatesWTO in types_of_wto.getRelation() %}
							{% if (AggregatesWTO.getRelation().Count != 0) %}
								{{ AggregatesWTO.aggregateWTO }}
							{% endif %}
							{% for TypesOfEMAR in AggregatesWTO.getRelation() %}
								<p>
								<a href="{{ path('types_of_emar_edit', {'id': TypesOfEMAR.id}) }}">{{ TypesOfEMAR.typeOfEMAR }}</a>
								</p>
							{% endfor %}
						{% endfor %}
					</td>
					<td>
						{% for AggregatesWTO in types_of_wto.getRelation() %}
							{% for TypesOfEMAR in AggregatesWTO.getRelation() %}
								{% if (TypesOfEMAR.getRelation().Count != 0) %}
								{{ TypesOfEMAR.typeOfEMAR }}
								{% endif %}
								{% for WorkComplexityFactors in TypesOfEMAR.getRelation() %}
									<p>
									<a href="{{ path('work_complexity_factors_edit', {'id':WorkComplexityFactors.id}) }}">{{ WorkComplexityFactors.workComplexityFactor }}</a>
									</p>
								{% endfor %}
							{% endfor %}
						{% endfor %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">Данных нет</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
